{% extends 'layout/base.html' %}
{% block 'title' %}Confirmar{% endblock 'title' %}
{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block 'content' %}
{% if validlink %}
    <h2>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</h2>
    <br>
    <form method="POST">
        {% csrf_token %}

        {{ form.as_table }}
        <br>
        <br>
        <button type="submit" class="btn-send">Cambiar mi contraseña </button> 
    </form> 
          

{% else %}
    <p>El enlace no es válido</p>
{% endif %}

{% endblock 'content' %}