{% extends 'layout/base.html' %}
 
{% block 'title' %}Reestablecer{% endblock 'title' %}

{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block 'content' %}
<h1>Restablecimiento de contraseña enviado</h1>
<br>
<p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</p>
<p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>

{% endblock 'content' %}