{% extends 'layout/base.html' %}
 
{% block 'title' %}Crear Alojamiento{% endblock 'title' %}

{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block 'content' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="alert-success"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <span class="btn-back"><a href="{% url 'accommodation' %}">Volver atrás</a></span>
    <form action="{% url 'acc_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <input type="hidden" name="custom_city" id="custom_city">
            <input type="hidden" name="custom_country" id="custom_country">
        </table>
        <div class="btn-wrapper">
            <input type="submit" value="Enviar" class="btn-send" />
        </div>
    </form>
{% endblock 'content' %}
{% block 'scripts' %}
{% endblock %}