{% extends 'layout/base.html' %}
 
{% block 'title' %}Alojamiento {{ accommodations.name }}{% endblock 'title' %}

{% block 'content' %}

<ul class="list">
   <li><img src ="{{ accommodations.image.url }}"width="250" height="250"></li>
   <li><b>Nombre: </b>{{ accommodations.name }}</li>
   <li><b>Descripción: </b>{{ accommodations.description }}</li>
   <li><b>Dirección: </b>{{ accommodations.address }}</li>
   <li><b>Email: </b>{{ accommodations.email}}</li>
   <li><b>Teléfono: </b>{{ accommodations.phone}}</li>
   <li><b>Móvil: </b>{{ accommodations.mobile}}</li>
   <li><b>País: </b>{{ accommodations.country}}</li>
   <li><b>Ciudad: </b>{{ accommodations.city}}</li>
   <li><b>Publicado: </b>{{ accommodations.is_active}}</li>
   <li><b>Precio por noche: </b>{{ accommodations.price}}</li>
</ul>
{% endblock 'content' %}