{% extends 'layout/base.html' %}
 
{% block 'title' %}Alojamiento {{ accommodations.name }}{% endblock 'title' %}

{% block 'content' %}

<ul class="list">
   
   <li><img src ="{{ accommodations.default_image.url }}"width="250" height="250">
      <a href="{% url 'view_images' id=accommodations.id %}" class="btn btn-edit">Ver galería de imágenes</a></li>
   <li><b>Nombre: </b>{{ accommodations.name }}</li>
   <li><b>Descripción: </b>{{ accommodations.description }}</li>
   <li><b>Dirección: </b>{{ accommodations.address }}</li>
   <li><b>Email: </b>{{ accommodations.email}}</li>
   <li><b>Teléfono: </b>{{ accommodations.phone}}</li>
   <li><b>Móvil: </b>{{ accommodations.mobile}}</li>
   <li><b>País: </b>{{ accommodations.country}}</li>
   <li><b>Ciudad: </b>{{ accommodations.city}}</li>
   <li><b>Publicado: </b>{{ accommodations.is_active}}</li>
   <li><b>Precio por noche: </b>{{ accommodations.default_price|floatformat:2 }} €</li>
</ul>
{% endblock 'content' %}