{% extends 'layout/base.html' %}
 
{% block 'title' %}Alojamientos{% endblock 'title' %}

{% block 'content' %}
<h1>Alojamientos</h1>
{% include 'accommodations/partials/search.html' %}
<span class="aux-btns"><a href="{% url 'accommodation' %}">Ver todos</a></span>
<ul class="list">

   {% for accommodation in accommodations  %}
           <li>{{ accommodation }}
               <span>
                   <a href={% url 'acc_view' id=accommodation.id %} class="btn btn-detail">Ver</a>
                   <a href={% url 'reserve' accommodation.id %} class="btn btn-reserve">Reservar</a> 
               </span>
           </li>
   {% endfor %}
</ul>
{% endblock 'content' %}