{% extends 'layout/base.html' %}

{% block 'title' %}Resultados de la búsqueda{% endblock 'title' %}
{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
{% endblock %}


{% block 'content' %}
<h1>Realiza una reserva</h1>
{% include 'reservations/partials/reserve_search.html' %}
<span class="aux-btns"><a href="{% url 'accommodationslist' %}">Ver todos</a></span>
<ul class="list">
    {% for accommodation in accommodations %}
        <li>
        <img src="{{ accommodation.default_image.url }}" width="100" height="100" alt="Imagen del alojamiento">
        <h3>{{ accommodation.name }}</h3>
        <p>País: {{ accommodation.country }}</p>
        <p>Ciudad: {{ accommodation.city}}</p>
        <div class="star-rating" data-rating="{{ accommodation.average_rating }}"></div>
        <br>
        <span>
            <a href={% url 'acc_view' id=accommodation.id %} class="btn btn-detail">
                <i class="fa fa-eye">Ver</i>
            </a>
            <a href="{% url 'review_list' id=accommodation.id %}" class="btn btn-edit">
                <i class="fa fa-star">Reseñas</i>
            </a>
            <a href={% url 'reserve' accommodation.id %} class="btn btn-reserve">
                <i class="fa fa-calendar-check">Reservar</i>
            </a> 
        </span>
        </li>        
    {% endfor %}
</ul>
{% endblock 'content' %}