{% extends 'layout/base.html' %}
 
{% block 'title' %}Galeria{% endblock 'title' %}

{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}

{% block 'content' %}
    <h1>Galería de Imágenes</h1>
    <h2><b>Nombre: </b>{{ accommodation.name }}</h2>
    <div class="row">
        {% for image in images %}
            <div class="col-sm-3">
                <img src="{{ image.image.url }}" class="img-thumbnail">
            </div>
        {% endfor %}
    </div>
{% endblock 'content' %}