input {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--color-text);
    padding: 5px;
    width: 100%;
}

.btn-send {
    width: 70%;
    background-color: var(--color-primary);
    color: white;
    border: 0;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-save {
    width: 70%;
    background-color: #04AA6D;
    color: white;
    border: 0;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-register {
    width: 26%;
    background-color: var(--color-primary);
    color: white;
    border: 0;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
    justify-content: flex-start;
}
.btn-login {
    width: 40%;
    background-color: var(--color-primary);
    color: white;
    border: 0;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    justify-content: flex-start;
}
.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.aux-btns-form {
    width: 10%;
    color: whitesmoke;
    background-color: #04AA6D;
    display: flex;
    justify-content: center;
    margin: 10px;
    border: 0;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;

}

.aux-btns-form a {
    padding-right: 10px;
    text-decoration: none;
}
