:root {
    --color-primary:#2ea3f2 ;
    --color-text: #666;
    --font-main: Roboto-bold;
    --font-text: Roboto-regular;
}

/* Main settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--color-text)
}

@font-face {
    font-family: Roboto-bold;
    src: url('../fonts/Roboto-Bold.ttf')
}

@font-face {
    font-family: Roboto-bold;
    src: url('../fonts/Roboto-Regular.ttf')
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-main);
}
/* End Main settings */

/* Layout settings */
nav {
    background-color: rgb(25, 41, 189);
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    flex: 1;
  }

  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #111;
  }
  
main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 50px;
    justify-content: flex-start;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-text);
    width: 50%;
    list-style-type: none;
}

.list li {
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid var(--color-text);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.btn {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.btn-detail{
    background-color: var(--color-primary);
    color: white;
}

.btn-detail:hover{
    background-color: white;
    color: var(--color-primary);
}

.btn-edit{
    background-color: #ffce00;
    color: white;
    text-decoration: none;
    margin: 10px;
}

.btn-edit:hover{
    background-color: white;
    color: #ffce00;
}

.btn-delete{
    background-color: #a10e2e;
    color: white;
}

.btn-delete:hover{
    background-color: white;
    color: #a10e2e;
}
.btn-back a{
    display: flex;
    justify-content: flex-start;
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    margin: 10px;
}

.btn-back a:hover{
    background-color: white;
    color: var(--color-primary);
}
.search {
    margin: 20px;
    width: 50%;
}

.search-bar {
    padding: 5px;
    width: 80%;
}

.btn-search {
    width: 19%;
    background-color: var(--color-primary);
    color: white;
    outline: none;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
}

.btn-search:hover{
    background-color: white;
    color: var(--color-primary)
}

.aux-btns {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin: 10px;

}

.aux-btns a {
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    margin: 10px;
    text-align: center;
    padding-right: 10px;
    text-decoration: none;
}

.aux-btns a:hover {
    background-color: white;
    color: var(--color-primary);
}

.alert-success {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
}
.notification {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  .success {
    background-color: #43DC7E;
  }
  .error {
    background-color: #AB3444;
  }

/* End Layout settings */

/* DASHBOARD */
.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  
  .dashboard-card {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  
  .dashboard-card h2 {
    margin: 0 0 10px 0;
  }
  
  h1 {
    margin: 20px 0 10px 0;
  }
  
/* END INDEX */