<nav>
    <ul>
        {% if request.user.is_authenticated %}
            <li><a href="#">Reservar</a></li>
            <li><a href="#">Mis Reservas</a></li>
            {% if request.user.is_staff %}
                <li><a href={% url 'accommodation' %}>Mis Alojamientos</a></li>
            {% endif %}
            <li><a href="{% url 'profile' %}">Perfil</a></li>
        <hr>
        </hr>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'users' %}">Inicio</a></li>
        {% endif %}
    </ul>
</nav>