{% extends 'layout/base.html' %}
 
{% block 'title' %}Tarea {{ todo.title }}{% endblock 'title' %}

{% block 'content' %}

<span class="aux-btns"><a href="{% url 'todo' %}">Volver atrás</a></span>
<ul class="list">
   <li><b>Titulo: </b>{{ todo.title }}</li>
   <li><b>Descripción: </b>{{ todo.description }}</li>
   <li><b>Fecha de creación: </b>{{ todo.date}}</li>
   <li><b>Fecha de finalización: </b>{{ todo.estimated_end }}</li>
   <li><b>Prioridad: </b>{{ todo.priority }}</li>
</ul>
{% endblock 'content' %}