{% extends 'layout/base.html' %} {% block 'title' %}Dashboard{% endblock %} 

{%block 'content' %}
<div class="dashboard-container">
    <h1>Bienvenido a Property Management System</h1>
    <h2>Sistema de reserva de Hoteles y alojamientos.</h2>
    {% if user.is_authenticated %}
    <div class="dashboard-card">
      <h2><i class="fas fa-calendar-plus"></i> Reservar</h2>
      <p>Desde aquí puedes realizar una nueva reserva de un hotel o alojamiento.</p>
      <a href="{% url 'accommodationslist' %}" class="button">Reservar ahora</a>
    </div>
    <div class="dashboard-card">
      <h2><i class="fas fa-user-edit"></i> Editar perfil</h2>
      <p>Accede a tu perfil y modifica tus datos personales.</p>
      <a href="{% url 'profile' %}" class="button">Perfil</a>
    </div>
        {% if user.is_staff %}
        <div class="dashboard-card">
            <h2><i class="fas fa-hotel"></i> Mis alojamientos</h2>
            <p>Gestiona tus alojamientos y realiza nuevas reservas.</p>
            <a href="{% url 'accommodation' %}" class="button">Ver alojamientos</a>
        </div>
        {% endif %}
        {% if not user.is_staff %}
          <div class="dashboard-card">
            <h2><i class="fas fa-plus"></i> Solicitar ser parte del staff</h2>
            <p>Si deseas publicar tus alojamientos en nuestro sistema, puedes solicitar ser parte del staff enviando un email a pmsdjango@gmail.com</p>
            <form method="post" action="{% url 'request_staff' %}">
              {% csrf_token %}
              <label for="name">Nombre de usuario:</label><br>
              <input type="text" id="name" name="name" value="{{ request.user.username }}"><br>
              <label for="email">Correo electrónico:</label><br>
              <input type="text" id="email" name="email" value="{{ request.user.email }}"><br>
              <label for="message">Mensaje:</label><br>
              <textarea id="message" name="message" rows="4">Quiero ser parte del staff</textarea><br><br>
              <input type="submit" value="Enviar solicitud" class="btn-send">
            </form>
          </div>
        {% endif %}
    {% endif %}    
  </div>
{% endblock 'content' %}
