{% extends 'layout/base.html' %}

{% block 'title' %}Invoice{% endblock 'title' %}

{% block 'styles' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block 'content' %}

<div class="invoice-container">
  <div class="header">
    <table class="invoice">
      <tr>
        <td class="company-details" colspan="2">
          <h2>Datos empresa</h2>
          <p>Empresa: Property Management System</p>
          <p>Dirección: Calle Madrid, 5</p>
          <p>Ciudad: Alicante</p>
          <p>Código Postal: 03007</p>
          <p>CIF: BXXXXXXXX</p>
        </td>
        <td class="client-details" colspan="2">
          <h2>Datos del cliente</h2>
          <p>Nombre de usuario: {{ reservation.user.username }}</p>
          <p>Nombre: {{ reservation.user.first_name }}</p>
          <p>Apellidos: {{ reservation.user.last_name }}</p>
          <p>Email: {{ reservation.user.email }}</p>
        </td>
      </tr>
    </table>
  </div>
  <div class="invoice-details">
    <table class="invoice">
      <tr>
        <td>
          <h2>Datos de factura</h2>
          <p>Fecha factura: {{ payment.created_at }}</p>
          <p>Factura nº: {{ reservation.id }}</p>
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="reservation-details">
    <table class="invoice">
      <tr>
        <th style="width: 25%;">Hotel</th>
        <td style="width: 75%;">{{ reservation.accommodation.name }}</td>
      </tr>
      <tr>
        <th style="width: 25%;">Fecha de entrada</th>
        <td style="width: 75%;">{{ reservation.start_date }}</td>
      </tr>
      <tr>
        <th style="width: 25%;">Fecha de salida</th>
        <td style="width: 75%;">{{ reservation.end_date }}</td>
      </tr>
      <tr>
        <th style="width: 25%;">Número de noches</th>
        <td style="width: 75%;">{{ number_of_nights }}</td>
      </tr>
      <tr>
        <th style="width: 25%;">Importe por noche (IVA incluido)</th>
        <td style="width: 75%;">{{ reservation.accommodation.default_price|floatformat:2 }} €</td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="payment-details">
    <table class="invoice">
      <tr>
        <th style="width: 25%;">Método de pago</th>
        <td style="width: 75%;">{{ payment.payment_method }}</td>
      </tr>
      <tr>
        <th style="width: 25%;">Estado de pago</th>
        <td style="width: 75%;">{{ payment.status }}</td>
      </tr>
      <tr>
        <th style="width: 25%;">Precio total sin IVA</th>
        <td style="width: 75%;">{{ net_total_price|floatformat:2 }} €</td>
      </tr>
      <tr>
        <th style="width: 25%;">IVA (21%)</th>
        <td style="width: 75%;">{{ iva|floatformat:2 }} €</td>
      </tr>
      <tr>
        <th style="width: 25%;">Precio total de la reserva (IVA incluido)</th>
        <td style="width: 75%;">{{ reservation.total_price|floatformat:2 }} €</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}