 
 {% extends 'layout/base.html' %}
 
 {% block 'title' %}Reservas{% endblock 'title' %}

 {% block 'content' %}
 <h1>Mis reservas</h1>
 <ul class="list">
    

    {% for reservation in reservations  %}
        {% if reservation.user == request.user %}
            <li>
                <img src="{{ reservation.accommodation.default_image.url }}" width="100" height="100">
                <div class="list-item">
                    <p><strong>Alojamiento:</strong> {{ reservation.accommodation.name }}</p>
                    <p><strong>Fecha de entrada:</strong> {{ reservation.start_date }}</p>
                    <p><strong>Fecha de salida:</strong> {{ reservation.end_date }}</p>
                </div>
                <span> 
                    <a href={% url 'reservations_view' id=reservation.id %} class="btn btn-detail">
                      <i class="fas fa-eye"></i> Ver
                    </a> 
                    <a href={% url 'invoice' id=reservation.id %} class="btn btn-detail">
                      <i class="fas fa-file-invoice"></i> Visualizar Factura
                    </a> 
                    <a  href={% url 'reservations_delete' id=reservation.id %} onclick="return confirm('¿Estás seguro de querer cancelar la reserva?')" class="btn btn-delete">
                      <i class="fas fa-times"></i> Cancelar Reserva
                    </a>
                    <a href={% url 'leave_review' id=reservation.id %} class="btn btn-edit">
                      <i class="fas fa-star"></i> Publicar Reseña
                    </a>
                </span>
            </li>
    
        {% endif %}
    {% endfor %}
 </ul>
 {% endblock 'content' %}