{% extends 'layout/base.html' %}
 
{% block 'title' %}Realiza una reserva{% endblock 'title' %}

{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block 'content' %}
<h1>Confirmar fechas de reserva</h1>
<span class="btn-back"><a href="{% url 'accommodationslist' %}">Volver atrás</a></span>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit" class="btn btn-reserve">Confirmar reserva</button>
</form>
{% endblock 'content' %}