{% extends 'layout/base.html' %}
 
{% block 'title' %}{{ profile.username }}{% endblock 'title' %}
{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block 'content' %}
<h1>Mis datos de usuario</h1>
<span class="btn-back"><a href="{% url 'profile' %}">Volver atrás</a></span>
<ul class="list">
   <li><b>Usuario: </b>{{ profile.username }}</li>
   <li><b>Nombre: </b>{{ profile.first_name }}</li>
   <li><b>Apellidos: </b>{{ profile.last_name}}</li>
   <li><b>Email: </b>{{ profile.email }}</li>
   {% if profile.is_staff %}
    <li><b>Publicar alojamientos: </b>Activado</li>
   {% endif %}
</ul>
{% endblock 'content' %}