{% extends 'layout/base.html' %}
 
{% block 'title' %}Editar Perfil{% endblock 'title' %}

{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block 'content' %}

    <span class="aux-btns-form"><a href="{% url 'profile' %}">Volver atrás</a></span>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="btn-wrapper">
            <input type="submit" value="Enviar" class="btn-send" />
        </div>
    </form>
{% endblock 'content' %}