{% extends 'layout/base.html' %}
 
{% block 'title' %}Editar Contraseña{% endblock 'title' %}

{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block 'content' %}

    <span class="btn-back"><a href="{% url 'profile' %}">Volver atrás</a></span>
    <form method="POST">
        {% csrf_token %}
        <table>
            <div class="form-group">
                <hr>
            </div>
        </table>
        <table>
            {{ form.as_table }}
        </table>
            <div class="btn-wrapper">
                <input type="submit" value="Enviar" class="btn-send" />
            </div>
        
    </form>
{% endblock 'content' %}