name: 2 - Build App Container Image

on:
  workflow_call:
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-20.04
    setps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Container Image
        run: |
          docker build -f Dockerfile -t myproj .
      - name: Login to Docker Hub Docker
        run: |
          echo "needs a login"    
      - name: Push Docker Container
        run: |
          echo "needs a push"

